<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImageCompressor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <a href="/" class="navbar-brand">
                <i class="fas fa-compress"></i> ImageCompressor
            </a>
            <div class="right-links">
                <a href="https://github.com/sapandeep31/image-compression-using-pca" target="_blank" class="github-link">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.sciencedirect.com/science/article/pii/S1877050917311900" target="_blank"
                    class="learn-link">
                    <i class="fas fa-book"></i> Learn How It Works
                </a>
            </div>
        </div>
    </nav>

    <main class="container">
        <h1>Compress Your Image</h1>
        <div id="upload-area" class="upload-area">
            <p id="upload-text">Drag and drop an image or click to upload</p>
            <p id="file-name"></p>
        </div>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" id="file-input" name="file" accept=".png,.jpg,.jpeg" style="display: none;">
            <button type="submit" id="compress-btn">Compress</button>
        </form>
    </main>

    <div id="success-message" class="success-message" style="display: none;">
        <p>Thanks for using ImageCompressor!</p>
        <p>Your compressed image will download shortly.</p>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>